/* Enter your Styles below! */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

header {
	padding-left: 50px;
	padding-top: 40px;
	
}


}

.orion-page {background-image: url(../images/orionimg.png);
			background-repeat: no-repeat;
			background-position: 90px 40px;
			background-size: 35%
}

.ursa-major {background-image: url(../images/pisces.png);
			background-repeat: no-repeat;
			background-position: 250px 210px;
			background-size: 35%

}

.ursa-minor {background-image: url(../images/ursa_minor.png);
			background-repeat: no-repeat;
			background-position: 730px 300px;
			background-size: 40%;


}

.scorpius-page {background-image: url(../images/scorpius.png);
				background-repeat: no-repeat;
				background-position: 620px 200px;
				background-size: 35%;

}

.history-page {background-image: url(../images/history.png);
				background-repeat: no-repeat;
				background-position: 220px 275px;
				background-size: 20%;


}
.orion-page {background-image: url(../images/orionconstellation.png);
				background-repeat: no-repeat;
				background-position: 275px 275px;
				background-size: 27%;


}
.pisces {background-image: url(../images/piscesconstellation.png);
				background-repeat: no-repeat;
				background-position: 270px 275px;
				background-size: 27%;


}

.ursa-minor {background-image: url(../images/ursa-minor-constellation.png);
				background-repeat: no-repeat;
				background-position: 270px 275px;
				background-size: 45%;


}

.scorpius-page {background-image: url(../images/scorpius-constellation.png);
				background-repeat: no-repeat;
				background-position: 290px 275px;
				background-size: 27%;


}



.solid-decoritive-text {
		font-size: 108px;
		position: absolute;
		left: 200px;
		top: 440px; 
		
}

.home-sidetext  .solidtext {
		font-size: 108px;
		position: absolute;
		left: 400px;
		top: 530px;
		

}

.outlined-text {
		font-size: 108px;
		position:absolute;
		left:1400px;
		top:440px;
 		color: black;
  		-webkit-text-fill-color: black; 
  		-webkit-text-stroke-width: 1px;
  		-webkit-text-stroke-color: white;
}

.home-sidetext .outlinedtext {
		font-size: 108px;
		position: absolute;
		left:1600px;
		top: 530px;
 		color: black;
 		-webkit-text-fill-color: black; 
  		-webkit-text-stroke-width: 1px;
  		-webkit-text-stroke-color: white;

}



.orion-sidetext .solidtext {
		font-size: 108px;
		position: absolute;
		left: 1185px;
		top: 1240px;
}
.orion-sidetext .outlinetext {
		font-size: 108px;
		position: absolute;
		left: 1250px;
		top: 1330px;
		color: black;
 		-webkit-text-fill-color: black; 
  		-webkit-text-stroke-width: 1px;
  		-webkit-text-stroke-color: white;

}

.origin-par {
	font-family: "Roboto" san-serif;
	font-size: 14px;
	width: 40%;
	position: absolute;
	left: 350px;
	top: 445px;


}
.orion {
	font-family: "Roboto" san-serif;
	font-size: 14px;
	width: 40%;
	position: absolute;
	left: 350px;
	top: 445px;


}

.second-par-orion {
	font-family: "Roboto" san-serif;
	font-size: 14px;
	width: 40%;
	position: absolute;
	left: 350px;
	top: 580px;
}

.third-par-orion {
	font-family: "Roboto" san-serif;
	font-size: 14px;
	width: 40%;
	position: absolute;
	left: 350px;
	top: 690px;
}

.fourth-par-orion {
	font-family: "Roboto" san-serif;
	font-size: 14px;
	width: 40%;
	position: absolute;
	left: 350px;
	top: 800px;
}



.second-par {
	font-family: "Roboto" san-serif;
	font-size: 14px;
	width: 40%;
	position: absolute;
	left: 350px;
	top: 645px;



}

.third-part {
	font-family: "Roboto" san-serif;
	font-size: 14px;
	width: 40%;
	position: absolute;
	left: 350px;
	top: 785px;

}

.fourth-part {
	font-family: "Roboto" san-serif;
	font-size: 14px;
	width: 40%;
	position: absolute;
	left: 350px;
	top: 925px;

}

.second-par-pisces {
	font-family: "Roboto" san-serif;
	font-size: 14px;
	width: 40%;
	position: absolute;
	left: 350px;
	top: 535px;
}

.third-par-pisces {
	font-family: "Roboto" san-serif;
	font-size: 14px;
	width: 40%;
	position: absolute;
	left: 350px;
	top: 645px;	
}

.pisces-par {
	font-family: "Roboto" san-serif;
	font-size: 14px;
	width: 40%;
	position: absolute;
	left: 350px;
	top: 445px;
}

.ursa-par {
	font-family: "Roboto" san-serif;
	font-size: 14px;
	width: 40%;
	position: absolute;
	left: 350px;
	top: 445px;
}

.ursa-par-two {
	font-family: "Roboto" san-serif;
	font-size: 14px;
	width: 40%;
	position: absolute;
	left: 350px;
	top: 535px;
}

.ursa-par-three {
	font-family: "Roboto" san-serif;
	font-size: 14px;
	width: 40%;
	position: absolute;
	left: 350px;
	top: 665px;

}

.ursa-par-four {font-family: "Roboto" san-serif;
	font-size: 14px;
	width: 40%;
	position: absolute;
	left: 350px;
	top: 755px;

}

.scorpius-par {
	font-family: "Roboto" san-serif;
	font-size: 14px;
	width: 40%;
	position: absolute;
	left: 350px;
	top: 445px;
}

.scorpius-par-two {
	font-family: "Roboto" san-serif;
	font-size: 14px;
	width: 40%;
	position: absolute;
	left: 350px;
	top: 520px;

}

.scorpius-par-three {
	font-family: "Roboto" san-serif;
	font-size: 14px;
	width: 40%;
	position: absolute;
	left: 350px;
	top: 640px;
}

.constellation-names {
	font-family: "Roboto" san-serif;
	font-size: .02px;
	left: 1185px;
	top: 520px;
	position: absolute;
	line-height: 30px;
	font-weight: normal;
	 

	

}

.list2 {
	font-family: "Roboto" san-serif;
	font-size: .02px;
	left: 1370px;
	top: 520px;
	position: absolute;
	line-height: 30px;
	font-weight: normal;
	

}

.all-cons {
	font-family: 'EB Garamond', serif;
	font-size: 22px;
	font-style: italic;
	font-weight: bold;
	left: 1185px;
	top: 445px


}

h1{ padding: 20px 20px
	margrin-left:auto;
}

h2{font-family: 'PT Serif', serif;
	font-size: 30px;
	position: absolute;
	left: 50px;
	top: 380px;
}


h4 {	font-size: 14px;
		font-family: "Roboto" san-serif;
		position: absolute;
		left: 175px;
		top: 400px;

}

h5 { font-size: 14px;
	font-family: 'Roboto', san-serif;
	position: absolute;
	left: 350px;
	top: 880px;
	width: 25%;
	line-height: 150%;

}

.pisces-visability {
	font-size: 14px;
	font-family: 'Roboto', san-serif;
	position: absolute;
	left: 350px;
	top: 740px;
	width: 25%;
	line-height: 150%;

}

.ursa-visability{
	font-size: 14px;
	font-family: 'Roboto', san-serif;
	position: absolute;
	left: 350px;
	top: 900px;
	width: 25%;
	line-height: 150%;

}
h6 {width: 30%;
	position: absolute;
	left: 50px;
	top:575px ;
	font-family:'Roboto', sans-serif;
	font-size: 14px;
	text-align: justify;
	line-height: 150%;
}

li, a, button {
	font-family:'Roboto', sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: white; 
	text-decoration: none;
}

.minorpar { position: absolute;
			left: 50px;
			top: 580px;


}


nav {
	display: flex;
	justify-content: flex-end;
	align-items: right;
	font-size: 5px;
	padding: 10px 10px;
	top: 2px;
	position: absolute;
	right: 20px;
	top: 40px;
}

.active-orion{
	border-bottom: 2px solid white;
}

.active-pisces{
	border-bottom: 2px solid white;
}

.active-ursa{
	border-bottom: 2px solid white;
}

.active-scorpius{
	border-bottom: 2px solid white;
}

.active-history{
	border-bottom: 2px solid white;
}

nav li{
	display: inline-block;
	padding: 0px 16px

}
.logo{


}
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 10px 10px;
  position: relative;
  font-size: 14px;
}
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}

p {
	width: 30%;
	position: absolute;
	left: 50px;
	top:450px ;
	font-family:'Roboto', sans-serif;
	font-size: 14px;
	text-align: justify;
	line-height: 150%;

}

body { background-color: black;
		color:white;

}

footer { position: fixed;
		left: 50px;
		bottom:10px;

}
